[user]
	name = Jim Myers
	signingkey = 0x28E7C0B3D41D890F

[core]
	editor = nvim
	excludesfile = ~/.gitignore_global

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	default = current

[credential]
	helper = osxkeychain

[commit]
	gpgsign = true

[alias]
	s = status
	co = checkout
	cb = checkout -b
	cm = commit -m
	ca = commit --amend
	can = commit --amend --no-edit
	wa = "!f() { git worktree add --track -b $1 $1 $2; cd $1; }; f"
	wl = worktree list
	wr = worktree remove
	rewrite = rebase -i
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  wa = "!f() { git worktree add --track -b $1 $1 $2; cd $1; }; f"
  pr = "!f() { git worktree add ../pr/$1 && cd ../pr/$1 && gh pr checkout $1; }; f"
  feature = "!f() { git worktree add ../feature/$1 && cd ../feature/1 && gh pr checkout $1; }; f"
  bugfix = "!f() { git worktree add ../bugfix/$1 && cd ../bugfix/1 && gh pr checkout $1; }; f"
  chore = "!f() { git worktree add ../chore/$1 && cd ../chore/1 && gh pr checkout $1; }; f"

[gpg]
	program = /opt/homebrew/bin/gpg

[include]
  path = ~/.gitconfig.local
