extends: default
rules:
  line-length:
    max: 200
    level: warning
  truthy:
    allowed-values: ['y', 'Y', 'yes', 'Yes', 'YES', 'n', 'N', 'no', 'No', 'NO', 'on', 'On', 'ON', 'off', 'Off', 'OFF', 'true', 'True', 'TRUE', 'false', 'False', 'FALSE']
    level: warning
  indentation:
    spaces: 2
    indent-sequences: consistent
  document-start: disable
  trailing-spaces: enable
  empty-lines: disable
  comments-indentation: disable
