name: "Check Nix Flake"
on:
  pull_request:
  push:
    branches:
      - main
      - nix

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v25
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Check flake
        run: nix --extra-experimental-features 'nix-command flakes' flake check
